# --- Binaries ---
build/
bin/
obj/

# CMake files
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.ninja

# --- STM32 Artefacts ---
*.elf
*.hex
*.bin
*.map
*.lst
*.obj
*.o
*.d

# --- VS Code (Local Configurations) ---
# for now I will not add this

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
*~
*.swp

# --- Unit Testing / Analysis Tools ---
*.gcov
*.gcda
*.gcno

# --- Cache & Indexers ---
**/.cache/
.clangd/
**/CMakeFiles/
**/CMakeCache.txt